In [1]:
import pandas as pd

## Vanilla

In [15]:
df_vanilla = pd.read_json("data/whisper-tiny_vanilla-ami_validation-preds_orthographic-non_lowered.json")
df_vanilla

,references,predictions
0,BUT LIKE MOBILE PHONES HAVE SCREENS AND THEY'R...,But like mobile phones have screens and they'...
1,MM,you
2,FURRY,Sorry.
3,YEAH,Yeah.
4,I MEAN IT JUST SEEMS LIKE YEAH,"I mean, it just seems like... Yeah."
...,...,...
13093,AND YOU TURN IT OFF THEN THE NEXT TIME YOU TUR...,and you turn it off. Then the next time you t...
13094,I THINK WE UH DISCUSSED A LOT OF THINGS ABOUT IT,I think we discussed a lot of things about it.
13095,MM MOST NEW T. V. S DO UH COLLECT ALL THE PAGES,Most new TV's do collect all the pages.
13096,YEAH,Yeah.
13097,YEAH,Now.

In [16]:
df_vanilla["is_lowercased"] = df_vanilla["predictions"].str.islower()
df_vanilla['contains_punctuation'] = df_vanilla["predictions"].str.contains(r'[^\w\s\']')

In [24]:
df_vanilla["is_lowercased"].value_counts() / len(df_vanilla["is_lowercased"])

False    0.829211
True     0.170789
Name: is_lowercased, dtype: float64

In [25]:
df_vanilla["contains_punctuation"].value_counts() / len(df_vanilla["is_lowercased"])

True     0.91617
False    0.08383
Name: contains_punctuation, dtype: float64

## Fine-tuned

In [19]:
df_finetuned = pd.read_json("data/final-ami_validation-preds_orthographic-non_lowered.json")
df_finetuned

,references,predictions
0,BUT LIKE MOBILE PHONES HAVE SCREENS AND THEY'R...,but like mobile phones have screens and uh cheap
1,MM,mm
2,FURRY,sorry
3,YEAH,yeah
4,I MEAN IT JUST SEEMS LIKE YEAH,i mean it just seems like yeah
...,...,...
13093,AND YOU TURN IT OFF THEN THE NEXT TIME YOU TUR...,and you turn it off then the next time you tu...
13094,I THINK WE UH DISCUSSED A LOT OF THINGS ABOUT IT,i think we uh discussed a lot of things about it
13095,MM MOST NEW T. V. S DO UH COLLECT ALL THE PAGES,mm and both new t. v. s do uh collect all the ...
13096,YEAH,yeah
13097,YEAH,no

In [20]:
df_finetuned["is_lowercased"] = df_finetuned["predictions"].str.islower()
df_finetuned['contains_punctuation'] = df_finetuned["predictions"].str.contains(r'[^\w\s\']')

In [26]:
df_finetuned["is_lowercased"].value_counts() / len(df_vanilla["is_lowercased"])

True     0.991831
False    0.008169
Name: is_lowercased, dtype: float64

In [27]:
df_finetuned["contains_punctuation"].value_counts() / len(df_vanilla["is_lowercased"])

False    0.947397
True     0.052603
Name: contains_punctuation, dtype: float64